.col-{
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

.gempics {
    width: 100px;
    height: 100px;
  }

.number-generator {
    height: 200px;

  }

.win-loss {
    height: 200px;

  }